<h1 class="text-center">New Wish</h1>

<div class="widget">
  <%= render WlWeb.Properties.WishView , "_form.html",  Map.merge(assigns, %{changeset: @changeset, route_back: Routes.wish_path(@conn, :new), action_name: :create, action_to: Routes.wish_path(@conn, :create)}) %>
</div>
